# 기본 연습 문제

* Q) 4400명의 사람이 모였는데, 이들을 대상으로 20명씩 조를 만들려고 한다. 이 때 생성되는 조의 수는 몇 개인가?

In [12]:
변수 만들기 : 2개 -> 전체 인원, 조별 인원
전체 인원 / 조별 인원

220.0

In [13]:
tot = 4400
size = 20
group_count = tot / size
print(tot, "의 인원으로", size, "명씩 그룹을 지으면", group_count,"의 조가 생성")

4400 의 인원으로 20 명씩 그룹을 지으면 220.0 의 조가 생성

In [11]:
a = 10
print("4400명을 대상으로 :", a)
print("4400명을 대상으로 :" + str(a))
print("4400명을 대상으로{}".format(a))

4400명을 대상으로 : 10
4400명을 대상으로 :10
4400명을 대상으로10

* Q) 4400명의 사람이 모였는데, 이들을 대상으로 30명씩 조를 만들려고 한다. 이 떄 생성되는 조의 수와 조에 편성이 안 되는 사람의 수는?

In [ ]:
필요한 변수 : 전체 인원, 조별 인원
조의 수 : 몫 -> //
편성이 안 된 사람 : 나머지  -> %

In [14]:
tot = 4400
size = 30
group_num = tot // size
group_nam = tot % size
print("조의 수:", group_num)
print("남은 인원:", group_nam)

조의 수: 146
남은 인원: 20

* Q)  국어 80점, 수학 55점, 영어 75점, 사회 80점 --> 이 사람의 평균을 구하는 코드를 작성하시오

In [3]:
# 방법1) 각 과목별 변수로...
# 방법2) 점수들 -> 리스트
# 방법3) 그냥....

72.5

In [15]:
# 방법1)
korean = 80
math = 55
english = 75
social = 80
four_mean = ( korean + math + english+social) /4
print("평균:",four_mean)

평균: 72.5

In [20]:
# 방법2) 점수들...
zumsus = [80, 55, 75, 80]
print(sum(zumsus))
print(len(zumsus))
print("평균:", sum(zumsus)/len(zumsus) )
print(mean(zumsus))

290
4
평균: 72.5

NameError: name 'mean' is not defined

In [21]:
import numpy as np

In [22]:
np.mean(zumsus)

72.5

In [23]:
zumsus = [80,55, 75, 80]
tot = 0
cnt = 0
for zumsu in zumsus:
    tot += zumsu
    cnt += 1
avg = tot/ cnt
print("평균", avg)

평균 72.5

* Q)  국어 80점, 수학 55점, 영어 75점, 사회 80점 --> 이 사람의 평균을 구하는 코드를 작성하시오   
(단, 이번에는 input을 활용하여 입력받는 점수를 바탕으로 평균을 구하세요!)

In [ ]:
# 방법1) 4과목을 각기 변수.
# 방법2) 4과목의 점수를 -> 점수들로......

In [24]:
korean = int(input("국어점수 입력하세요.")) #--> input 에서 예외 처리 등...
math = int(input("수학점수 입력하세요."))
english = int(input("영어점수 입력하세요."))
social = int(input("사회점수 입력하세요."))

four_mean = ( korean + math + english+social) /4
print("평균:",four_mean)

국어점수 입력하세요.80
수학점수 입력하세요.55
영어점수 입력하세요.75
사회점수 입력하세요.80
평균: 72.5

In [26]:
zumsus = []
zumsus.append(int(input("국어 점수 입력하세요")))
zumsus.append(int(input("수학 점수 입력하세요")))
zumsus.append(int(input("영어 점수 입력하세요")))
zumsus.append(int(input("사회 점수 입력하세요")))
avg = sum(zumsus) / len(zumsus)
print("평균 : ", avg)

국어 점수 입력하세요80
수학 점수 입력하세요55
영어 점수 입력하세요75
사회 점수 입력하세요80
평균 :  72.5

In [ ]:
# 번외로~~~ 국어, 수학, 과학, 사회, 영어, 음악, 미술, 윤리

In [31]:
zumsus  = []
subjects =["국어","수학","과학","사회","영어","음악"]
for sub in subjects:
    text = sub + "점수를 입력하세요"
    zumsus.append(int(input(text)))
    print(zumsus)
avg = sum(zumsus) / len(zumsus)
print("평균 : ", avg)
# input("국어점수~~")
# input("수학점수~~")

국어점수를 입력하세요10
[10]
수학점수를 입력하세요20
[10, 20]
과학점수를 입력하세요30
[10, 20, 30]
사회점수를 입력하세요4
[10, 20, 30, 4]
영어점수를 입력하세요50
[10, 20, 30, 4, 50]
음악점수를 입력하세요80
[10, 20, 30, 4, 50, 80]
평균 :  32.333333333333336

* Q) 주어진 수가 홀수인지, 아니면 짝수인지 판별할 수 있는 방법을 제시하여라.

In [32]:
# 판정방법 : 2로 나눴을 때 --> 나머지 %--> 0 , 1
# ---> 나머지가 0일때, 1일때~~~if
num = int(input("홀짝을 판별할 수를 입력하세요.."))
if num % 2 == 0:
    print("짝수입니다.")
elif num % 2 == 1:
    print("홀수입니다.")
else:
    print("입력수를 체크하세요~~~~")

홀짝을 판별할 수를 입력하세요..34
짝수입니다.

* Q) 주어진 수가 홀수인지, 아니면 짝수인지 판별할 수 있는 방법을 함수로 만들어보세요~ -> 바로 위의 문제에 대해서 함수로 만들어 보라는 의미임!

In [ ]:
함수 : 입력 -> 숫자1개
       출력 -> "홀수", "짝수" 결과에 대한 문자열
        관계 : 입력을 가지고 홀/짝 판단해서, 그 결과 출력.

In [33]:
def checkEO(num):
    if num % 2 == 0:
        return "짝수"
    elif num % 2 == 1:
        return "홀수"
    else:
        return "입력수를 체크하세요~~~~"

In [34]:
checkEO(20)

'짝수'

In [35]:
checkEO(80)

'짝수'

In [36]:
checkEO(77)

'홀수'

* Q) a = [1, 2, 3, 4,5]라는 리스트를 만들고, 여기에다가 append, insert를 활용하여 a= [1,2,"hello",4,5,"Hi","Monday"]를 만들어라

In [38]:
a = [1, 2, 3, 4,5]
a.append("Hi")
a.append("Monday")
a

[1, 2, 3, 4, 5, 'Hi', 'Monday']

In [39]:
a.insert(2, "Hello")
a

[1, 2, 'Hello', 3, 4, 5, 'Hi', 'Monday']

In [40]:
a.append(["AAAAA","BBBB","CCCCC"])

In [42]:
a.extend(["AAAAA","BBBB","CCCCC"])
a

[1,
 2,
 'Hello',
 3,
 4,
 5,
 'Hi',
 'Monday',
 ['AAAAA', 'BBBB', 'CCCCC'],
 'AAAAA',
 'BBBB',
 'CCCCC']

In [43]:
[1,2,3] + ["a","b","c"]

[1, 2, 3, 'a', 'b', 'c']

* Q) 10을 2로 나눈 몫하고 210을 3으로 나눈 몫하고 같은지 비교하시오!

In [48]:
# 두 수가 같습니까?
(10 //2 ) == (210//3)

# 두 수가 다릅니까?
(10 //2 ) != (210//3)

# 두 수가 같습니까?
(10 % 2 ) == (210 % 3)

# 두 수가 다릅니까?
(10 % 2 ) != (210 % 3)

True

* Q) 12345를 4로 나눈 나머지하고, 54321을 2로 나눈 나머지하고 비교하시오!!!

In [49]:
12345 % 4

1

In [50]:
54321 % 2

1

In [51]:
(12345 % 4) == (54321 % 2)

True

In [52]:
(12345 % 4) != (54321 % 2)

False

* a = [1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]] 에서 i를 접근해보세요. 정수 인덱스를 활용해서..

In [54]:
a = [1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]] 
a

[1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]]

In [59]:
a[3][3][1][1]

'i'

* Q) a = ["a","b","c","d","e","f","g","h","i","j","k",1,2,3,4,5]  
1) :를 사용하여 a의 모든 값을  출력하세요  
2) :를 사용하여 a의 처음부터 5번째 까지 값을 출력하세요.  
3) :를 사용하여 a의 4번째부터 끝까지 값을 출력하세요.  
4) :를 사용하여 a의 2번째부터 6번째까지 값을 출력하세요.  
5) :를 사용하여 a의 홀수번째 위치한 값들을 출력하세요.  
6) :를 사용하여 a의 1,4,7,10번째 위치한 값들을 출력하세요!!

In [6]:
슬라이싱 [ 시작점 : 끝나는점(빠지): 간격]
range(시작점, 끝점(빠지), 간격)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]
['a', 'b', 'c', 'd', 'e']
['e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]
['b', 'c', 'd', 'e', 'f']
['a', 'c', 'e', 'g', 'i', 'k', 2, 4]
['b', 'e', 'h', 'k', 3]

In [61]:
a = ["a","b","c","d","e","f","g","h","i","j","k",1,2,3,4,5]
a

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]

In [63]:
a[:]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]

In [64]:
a[0:len(a)]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]

In [65]:
a[:5]

['a', 'b', 'c', 'd', 'e']

In [66]:
a[4:]

['e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]

In [67]:
a[1:6]

['b', 'c', 'd', 'e', 'f']

In [68]:
a[::2]

['a', 'c', 'e', 'g', 'i', 'k', 2, 4]

In [72]:
a[::3]

['a', 'd', 'g', 'j', 2, 5]

* Q) a = {"A":90, "B":80,"C":70 } 이 중에서 "B"의 점수를 출력해보세요!

In [73]:
a = {"A":90, "B":80,"C":70 }
a

{'A': 90, 'B': 80, 'C': 70}

In [74]:
a["B"]

80

Q) a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 이 중에서 최고점과 최저점을 찾으세요!!!

In [75]:
a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32}
a

{'A': 30, 'B': 50, 'C': 10, 'D': 43, 'E': 85, 'F': 76, 'G': 32}

In [76]:
a.keys()

dict_keys(['A', 'B', 'C', 'D', 'E', 'F', 'G'])

In [77]:
a.values()

dict_values([30, 50, 10, 43, 85, 76, 32])

In [78]:
min(a.values())

10

In [79]:
max(a.values())

85

Q) a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 이 중에서 최고점과 최저점이 누구인지 찾으세요!!!

In [81]:
a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32}
a

{'A': 30, 'B': 50, 'C': 10, 'D': 43, 'E': 85, 'F': 76, 'G': 32}

In [87]:
for i in a.items():
    print(i)
    print("Key:", i[0])
    print("Val:", i[1])

('A', 30)
Key: A
Val: 30
('B', 50)
Key: B
Val: 50
('C', 10)
Key: C
Val: 10
('D', 43)
Key: D
Val: 43
('E', 85)
Key: E
Val: 85
('F', 76)
Key: F
Val: 76
('G', 32)
Key: G
Val: 32

In [90]:
for k,v in a.items():
    print(k)
    print(v)
    print("----")

A
30
----
B
50
----
C
10
----
D
43
----
E
85
----
F
76
----
G
32
----

In [92]:
low_val = min(a.values())
max_val = max(a.values())
print(low_val)
print(max_val)

10
85

In [94]:
for name, jumsu in a.items():
    if jumsu ==low_val:
        print("최소점학생:", name)
    elif jumsu == max_val:
        print("최고점학생:", name)

최소점학생: C
최고점학생: E

In [96]:
for person in a.items():
    if person[1] ==low_val:
        print("최소점학생:", person[0])
    elif person[1] == max_val:
        print("최고점학생:", person[0])

최소점학생: C
최고점학생: E

*Q) 1부터 20까지 모든 수를 출력하는 프로그램을 만드세요(for/range)

In [97]:
for i in range(1, 21, 1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# 빠져나갈 조건을 만들어야 함!!!!
while  조건이 참일때:
    수행할 것들...

In [ ]:
i = 1
while i<21:
    print(i)
    i = i + 1 # i +=1

In [99]:
i = 20
while i >0:
    print(21-i)
    i = i - 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

* Q) "hello_1", "hello_2", ..., "hello_20"까지 출력하는 프로그램을 만드세요(for 사용)

In [12]:
공통된 부분 : hello_
바뀌는 부분 : 뒤에 붙는 숫자 1~~~20 -> range(1, 21,1)
전체적인 작업은 hello_에다가 만든 숫자들 붙이기~~~~ : 문자열 + 쉽게 연결

hello_1
hello_2
hello_3
hello_4
hello_5
hello_6
hello_7
hello_8
hello_9
hello_10
hello_11
hello_12
hello_13
hello_14
hello_15
hello_16
hello_17
hello_18
hello_19
hello_20

In [101]:
for i in range(1, 21,1):
    print("hello_"+str(i))

hello_1
hello_2
hello_3
hello_4
hello_5
hello_6
hello_7
hello_8
hello_9
hello_10
hello_11
hello_12
hello_13
hello_14
hello_15
hello_16
hello_17
hello_18
hello_19
hello_20

* Q) a = ["one","two","three","four"] 과 for문을 이용하여
b = ['one1', 'two2', 'three3', 'four4']을 만드세요.  
1) for& range 방법   
2) for & a 바로 방법   
2가지 방식으로 하세요!!!

In [103]:
a = ["one","two","three","four"]
a

['one', 'two', 'three', 'four']

In [107]:
b = []
for i in range(1, 5,1):
    temp = a[i-1] + str(i)
    b.append(temp)
print(b)

['one1', 'two2', 'three3', 'four4']

In [108]:
b = []
for i in range(0, 4,1):
    temp = a[i] + str(i+1)
    b.append(temp)
print(b)

['one1', 'two2', 'three3', 'four4']

In [112]:
num = 1
b= []
for i in a:
    b.append(i+str(num))
    num = num + 1 # num += 1
print(b)

['one1', 'two2', 'three3', 'four4']

* Q) 1번/2번 학생의 시험 점수를 리스트로 만들고, 이에 대한 평균을 구하시오.  
예: a = [10,20,30,40], b=[50,20,10,13]에 대해서, 각기 평균을 구하시오!   
단, 시험 점수가 변동이 생길 수 있고, 시험 과목도 변동이 생길 수 있으니 a/b 중심으로 코드를 구현하세요!

In [248]:
std_1 = [50, 30, 40, 50, 60]
std_2 = [50,20,10,13,80,90]

print(sum(std_1) / len(std_1))
print(sum(std_2) / len(std_2))

46.0
43.833333333333336

* Q)  a = ["Life", "is","too", "short", "you","need","python"] a 리스트를 화룡해서 yoo too 출력해보기!!!

In [115]:
a = ["Life", "is","too", "short", "you","need","python"]
a

['Life', 'is', 'too', 'short', 'you', 'need', 'python']

In [118]:
print(a[4], a[2])

you too

* Q) ["Life", "is", "too","short"]라는 리스트를 활용해서 Life is too short 이라는 문장 만들기!!!

In [119]:
a = ["Life", "is", "too","short"]
a

['Life', 'is', 'too', 'short']

In [121]:
print(a[0], a[1],a[2],a[3])
print(a[:])

Life is too short
['Life', 'is', 'too', 'short']

In [127]:
a[:2]

['Life', 'is']

In [128]:
result = " ".join(a) # a 전체를 하고 있음...
print(result)

Life is too short

In [ ]:
result = " ".join(a[:2]) # a 전체를 하고 있음...
print(result)

* Q)  a = [1,2,3,4,5,6] 이 리스트의 원소의 갯수는?

In [130]:
a = [1,2,3,4,5,6]
len(a)

6

* Q) a [ 1,2,3,4,5]라는 리스트를 [1,3,5]로 만들기!!!

In [131]:
a = [1,2,3,4,5]
a.remove(2)
a.remove(4)
a

[1, 3, 5]

In [137]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [138]:
b = []
for i in a:
    b.append(i+10)
print(b)

[11, 12, 13, 14, 15]

In [142]:
for i in a:
    if i not in [2,4]:

SyntaxError: unexpected EOF while parsing (<ipython-input-142-ed7e2023789f>, line 2)

In [145]:
[ i*200 for i in a if i not in [2,4]]

[200, 600, 1000]

In [ ]:
* 쌩리스트로, for문 돌면서, 컴프리핸션방식, 넘파이, 넘파이로 .....
---> 리스트 -->  넘파이 어레이 (개선된 타입이 있으면 그걸 사용)
---> 내가사용하는 타입의 패키지에
     내가 필요한 기능이 있는지(메소드, 기타 부분.)
     있으면 그걸 사용!!!!!

* Q) a = 10 양수, 음수, 0인지 판단을 하고 싶다!! --> 완성 후에는 input을 활용하여 하는 것으로 추가 구현

In [24]:
변수 : 숫자 -> input함수로...
가기 조건별 : if --> 조건이 겹치지 않도록!!!

0,양수,음수 판단할 수를 입력해 주세요!!!!!-2
a는 음수다!!!!

In [146]:
num = int(input("양수,음수,0을 판정할 수를 입력하세요."))

if num >0 :
    print("양수")
elif num <0 :
    print("음수")
elif num ==0:
    print("0입니다.")
else:
    print("입력이 이상합니다.")

양수,음수,0을 판정할 수를 입력하세요.-3
음수

* Q1) 입력받은 양의 정수(자연수) 홀수/짝수인지 판단을 하고, 그 결과를 출력해주세요!!

In [27]:
num = int(input("홀짝판단할 수 "))

if num % 2 ==0:
    print("짝수")
elif num %2 ==1:
    print("홀수")
else:
    print("입력이상")

홀짝을 판단하고자 하는 수를 입력하세요!!!-3
이상해요1!!!!

* Q) * Q2) A라는 사람이 5000원의 돈을 가지고 있고, 카드는 없다.  
A의 상태는   
money = 5000  
card = False  
이 사람이 목적지까지 택시를 타고 가려고 한다.
목적지까지 가기 위해서는 카드를 소유하고 있거나, 4000원 이상의 현금을 가지고 있어야 한다.
A 는 이 목적지까지 갈 수 있는지 판단해보세요!!!

In [147]:
money = 5000
card = False # True 카드 소지, False는 미소지

if (money >4000) or ( card ==True):
    print("갈 수 있다.")
else:
    print("못감")

갈 수 있다.

In [148]:
money = int(input("지금 소지한 현금은 얼마?"))
card = input("카드를 가지고 있습니까? [ T/ F]") # 문자 T, F

if (money >4000) or ( card =="T"):
    print("갈 수 있다.")
else:
    print("못감")

지금 소지한 현금은 얼마?5000
카드를 가지고 있습니까? [ T/ F]F
갈 수 있다.

* Q) 입력을 받은 자연수에 대해서 몇 자리 수인지 판단하세요!!!(최대 9999까지)

In [149]:
a = 123

if ( a >=1) and (a <10):
    print("한자리수")
elif (a>=10) and (a<100):
    print("두자리수")
elif (a>=100) and (a<1000):
    print("세자리수")
else:
    print("범위 ")

세자리수

* Q) a = 10, b = 20을 가지고, a=20, b=10이라고 서로 수를 바꾸는 프로그램을 작성하시오!!!

In [150]:
a = 10
b =20

temp = a # temp :10, a : 10, b : 20
a = b    # temp : 10, a : 20, b : 20
b = temp # temp : 10, a : 20, b : 10 
print(a)
print(b)

20
10

* Q) kg에 대한 값을 g으로 변환하는 프로그램을 작성하시오(예:1.2kg => 1200g)

In [151]:
kg = float(input("입력하세요kg")) # 숫자 소수로 되었으니..
print(kg * 1000)

입력하세요kg1.2
1200.0

* Q) g에 대한 값을 kg으로 변환하는 프로그램을 작성하시오!(예:1200g ==> 1.2kg)

In [152]:
g = float(input("입력하세요g")) # 숫자 소수로 되었으니..
print(g / 1000)

입력하세요g1234
1.234

* Q)  3개의 수에 대해서, 가장 큰 수를 찾는 프로그램을 작성하시오!!!
(예를 들면, 10, 20, 17이라는 3개의 수가 있다고 하면, 이 중에서 제일 큰 수 20을 찾는 프로그램)

In [153]:
first = 10
second = 20
third  = 15

# first 수가 가장 큰 경우!!!!
if (first > second) & ( first >third):
    print(first)
elif (second > first) & (second > third):
    print(second)
elif (third > first) & (third > second):
    print(third)
else:
    print("Check!!!!")

20

* Q) 1부터 100까지 합!!!!

In [154]:
# 필요한 것이 1~100숫자 -> range
# 결과를 담을 변수
tot = 0 
for i in range(1, 100+1, 1):
    tot = tot + i # tot += i
print(tot)

5050

* Q) 1부터 100까지 곱!!

In [155]:
# 필요한 것이 1~100숫자 -> range
# 결과를 담을 변수
tot = 1 
for i in range(1, 100+1, 1):
    tot = tot * i # tot += i
print(tot)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

* Q) 시험 성적 점수 [90, 80,35,24,65,74,93]  
시험 통과가 60점 이상이라고 할 때,
몇 번째 학생이 통과했는지 알려주세요!!!!!

In [157]:
zumsus =  [90, 80,35,24,65,74,93]
cnt = 0
for zumsu in zumsus:
    if zumsu >=60:
         cnt = cnt + 1 # cnt += 1
    else:
        pass
print(cnt)

5

In [158]:
zumsus

[90, 80, 35, 24, 65, 74, 93]

In [160]:
[ zumsu for zumsu in zumsus if zumsu >=60]

[90, 80, 65, 74, 93]

In [161]:
len([ zumsu for zumsu in zumsus if zumsu >=60] )

5

* Q) ["A","B","A","O","AB","AB","O","A","B","AB"] 이러한 혈핵형을 가지고 있을 때, for문을 이용해서 각 혈핵형별로 몇 명인지 총 인원을 구하세요!!!!

In [164]:
a = ["A","B","A","O","AB","AB","O","A","B","AB"]

cnt_a = 0
cnt_b = 0
cnt_o = 0
cnt_ab = 0
for i in a:
    if i =="A":
        cnt_a +=1
    elif i =="B":
        cnt_b +=1
    elif i =="O":
        cnt_o +=1
    elif i =="AB":
        cnt_ab +=1
    else:
        print("Check!!!!!")
print("A형:", cnt_a)
print("B형:", cnt_b)
print("O형:", cnt_o)
print("AB형:", cnt_ab)

A형: 3
B형: 2
O형: 2
AB형: 3

In [167]:
print("A:", len([ i for i in a if i =="A"]))
print("B:", len([ i for i in a if i =="B"]))
print("O:", len([ i for i in a if i =="O"]))

print("AB:", len([ i for i in a if i =="AB"]))

A: 3
B: 2
O: 2
AB: 3

In [170]:
# a : 사람별로 특정한 혈핵형 값들..
a = ["A","B","A","O","AB","AB","O","A","B","AB"]
# b_type : 우리가 구별한 혈핵형의 종류..
b_type = ["A","B","O","AB"]
for b in b_type:
    print(b, len([ i for i in a if i ==b]))

A 3
B 2
O 2
AB 3

* Q) [1,2,3,4,5,6,7,8,9,10,11,12] 중에서 홀수만 골라서  
3을 곱하는 결과를 나타내시오!!!!

In [171]:
a = [1,2,3,4,5,6,7,8,9,10,11,12]
for i in a:
    if i %2 == 1:
        print(i *3)
    else:
        pass

3
9
15
21
27
33

In [172]:
a = [1,2,3,4,5,6,7,8,9,10,11,12]
for i in range(0, len(a)):
    if a[i] %2 == 1:
        print(a[i] *3)
    else:
        pass

3
9
15
21
27
33

In [175]:
a = [1,2,3,4,5,6,7,8,9,10,11,12]

[ i*3 for i in a if i %2 ==1]

# 반복문을 통해서 개별적인 값들에 대해서 뭔가를 하고 모은다~
# [ 값들가지고 뭘 모을지 for 값들 in 여러개값타입 if 값들에 제약이 ]

[3, 9, 15, 21, 27, 33]

* Q) 구구단 2단, 3단, ..., 19단까지 결과를 출력하세요!!!

In [177]:
for first in range(2, 20,1):
    for second in range(1, 10,1):
        print(first,"X", second, "=", first * second)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
16 X 1 = 16
16 X 2 = 32
16 X 3 = 48
16 X 4 = 64
16 X 5 = 80
16 X 6 = 96
16 X 7 = 112
16 X 8 = 128
16 X 9 = 144
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
18 X 6 = 108
18 X 7 = 126
18 X 8 = 144
18 X 9 = 162
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171

* Q) 100 까지 소수를 모두 찾아보세요!!!!

In [183]:
# 소수 : 2,3,5,7,11
# ---> 1과 자기자신만을 공약수로 가지는 수들 소수
# 어떤 수 : N
# -----> 2,3,4,....., N-1로 나눴을 때 나눠떨어지지 않으면 됨!!!
# ----------------------------------- 나머지가 0이 아닌 것!!
# ------------------------------------ %    !=0

for i in range(2,101, 1): #  7
    for j in range(2, i, 1): # 2,3,4,5, 6
        if i % j ==0:
            break
        elif j == i-1:
            print(i)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

* Q) 두 수 54, 24의 최대공약수, 공약수를 구해보세요!!!

In [184]:
num1 = int(input("첫번째수 입력하세요"))
num2 = int(input("두번째수 입력하세요"))

data = []
for i in range(1, num1+1): # 나누는 수에 대해서는 1부터 자기자신.
    if ( num1 % i == 0) and (num2 % i == 0) : # i로 num1, num2 모두 나.떨
        data.append(i)
    else:
        pass
print(num1, "," , num2,"의 공약수는",  data)
print(num1, "," , num2,"의 최대공약수는", max(data))

첫번째수 입력하세요54
두번째수 입력하세요24
54 , 24 의 공약수는 [1, 2, 3, 6]
54 , 24 의 최대공약수는 6

*Q) @@@@@ 을 출력하세요!!!

In [186]:
print("@"+"@"+"@"+"@"+"@")

@@@@@

In [187]:
print("@"*5)

@@@@@

In [188]:
print("-"*5)

-----

In [195]:
for i in range(5):
    print("@", end="")

@@@@@

In [196]:
for i in range(100,105):
    print("@", end="")

@@@@@

In [197]:
for i in ["a","a","b","a","c"]:
    print("@", end="")

@@@@@

* Q)   
@@@@@  
@@@@@  
@@@@@  
@@@@@

In [198]:
for i in range(5):
    print("@"*5)

@@@@@
@@@@@
@@@@@
@@@@@
@@@@@

In [228]:
for i in range(5):
    for j in range(5):
        print("@", end="")
    print(" ")

@@@@@
@@@@@
@@@@@
@@@@@
@@@@@

@
@@
@@@
@@@@
@@@@@

* Q) 위의 그림을 만드세요

In [203]:
print("@"*1)
print("@"*2)
print("@"*3)
print("@"*4)
print("@"*5)

@
@@
@@@
@@@@
@@@@@

In [204]:
for i in range(1, 6):
    print("@"*i)

@
@@
@@@
@@@@
@@@@@

@@@@@
 @@@@
  @@@
   @@
    @

* Q) 위의 그림을 만드세요!!!

In [205]:
print(" "*0 + "@"*5)
print(" "*1 + "@"*4)
print(" "*2 + "@"*3)
print(" "*3 + "@"*2)
print(" "*4 + "@"*1)

#print(" " *i + "@"*(5-i))

@@@@@
 @@@@
  @@@
   @@
    @

In [206]:
for i in range(5):
    print(" "*i+ "@"*(5-i))

@@@@@
 @@@@
  @@@
   @@
    @

    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@

* Q) 위의 그림을 만드세요!

In [211]:
print(" " * 4 + "@" * 1) 2*0 + 1
print(" " * 3 + "@" * 3) 2*1 + 1
print(" " * 2 + "@" * 5) 2*2 + 1
print(" " * 1 + "@" * 7) 2*3 + 1
print(" " * 0 + "@" * 9) 2*4 + 1

print(" " * i + "@" * (2 * (4-i)+1))
print(" " * (4-j) + "@"* (2*j+1))

    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@

In [214]:
for i in range(4, -1, -1):
    print(" " * i + "@" * (2 * (4-i)+1))

    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

* Q) 위의 그림을 만드세요

In [221]:
print(" "*0 + "@" * 9)  2 * 4 + 1
print(" "*1 + "@" * 7)  2 * 3 + 1
print(" "*2 + "@" * 5)  2 * 2 + 1
print(" "*3 + "@" * 3)  2 * 1 + 1
print(" "*4 + "@" * 1)  2 * 0 + 1

print(" "*i + "@" * (2 * (4-i) + 1))

SyntaxError: invalid syntax (<ipython-input-221-6c192cfb47e6>, line 1)

In [223]:
for i in range(0, 5):
    print(" "*i + "@" * (2 * (4-i) + 1))

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

1
22
333
4444
55555
666666
7777777
88888888
999999999

* 위와 같은 결과를 만드세요

In [225]:
print("1" * 1)
print("2" * 2)
print("3" * 3)
print("4" * 4)
print("5" * 5)
print("6" * 6)
print("7" * 7)
print("8" * 8)
print("9" * 9)

print( str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [226]:
for i in range(1, 10):
    print( str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

* 잠시) 반복문에서 필요한 몇 가지 사항들 : break, pass, continue

In [229]:
a = [3,4,5,6,7,8]

In [231]:

for i in a:
    print("체크 전 값들", i)
    if i == 5:
        print(i)
        break

체크 전 값들 3
체크 전 값들 4
체크 전 값들 5
5

In [232]:
for i in a:
    print("체크 전 값들", i)
    if i == 5:
        print(i)
        pass
    print("PAAAASSSS")

체크 전 값들 3
PAAAASSSS
체크 전 값들 4
PAAAASSSS
체크 전 값들 5
5
PAAAASSSS
체크 전 값들 6
PAAAASSSS
체크 전 값들 7
PAAAASSSS
체크 전 값들 8
PAAAASSSS

In [240]:
for i in a:
    print("체크 전 값들", i)
    if i == 5:
        print(i)
    else:
        pass

체크 전 값들 3
체크 전 값들 4
체크 전 값들 5
5
체크 전 값들 6
체크 전 값들 7
체크 전 값들 8

In [236]:
for i in [5,10,15]:
    print("체크 전 값들", i)
    if i == 5:
        print(i)
        pass
    print("PAAAASSSS")

체크 전 값들 5
5
PAAAASSSS
체크 전 값들 10
PAAAASSSS
체크 전 값들 15
PAAAASSSS

In [237]:
for i in [5,10,15]:
    print("체크 전 값들", i)
    if i == 5:
        print(i)
        continue
    print("PAAAASSSS")

체크 전 값들 5
5
체크 전 값들 10
PAAAASSSS
체크 전 값들 15
PAAAASSSS

* Q) 학생의 점수을 입력을 받아서, 그 점수에 해당하는 학점을 출력을 하고, 그 학점이 A는 "참 잘했습니다", B는 "잘 했습니다.", C는 "좀 더 노력하세요", D는 "재수강을 권장합니다", F는 "꼭 다시 들으세요!!!"로 판별해주기.  
단, F: 40점 미만, D:40점 이상~60점 미만, C : 60이상~80점 미만, B:80이상~90점 미만, A:90점 이상 이상

In [246]:
score = int(input("점수 입력하세요"))

if score >=90:
    print("A~~~")
elif score >=80: # 전제 조건은 90보다 작은 애들을 대상으로.....
    print("B~~~~")
elif score >=70:
    print("C~~~")
elif score >=60:
    print("D~~~")
elif score >0:
    print("F")
else:
    pass

점수 입력하세요30
F

* 한 점을 구성하는 (x,y)의 좌표를 입력받고, 이 점이 (50,40), (50,80), (100,40), (100,80)을 꼭지점으로 하는 사각형 안에 있는지 판단하세요!!!

In [247]:
x = int(input("x좌표 입력하세요"))
y = int(input("y좌표 입력하세요."))

# x  : 50~100, y : 40~80 --> and 
if (x > 50 and x < 100) and  ( y>40 and y < 80):
    print("안에 있습니다.")
else:
    print("밖에 있습니다.")

x좌표 입력하세요10
y좌표 입력하세요.22
밖에 있습니다.

* Q) 입력한 수의 각 자리수를 더하는 프로그램을 작성하시오.  
예 : 12345--> 1+2+3+4+5=15

In [250]:
num = input("수를 입력하세요..")
tot = 0
for i in num:
    tot  = tot + int(i)
print(tot)

수를 입력하세요..1234
10

In [253]:
num = "12345"

sum([ int(i) for i in num ])

15

In [249]:
for i in "12345":
    print(i)

1
2
3
4
5

* Q) a,b,c가 자연수 일때, a + b + c = 100을 만족하는 중복되지 않는 세 자연수의 개수를 구하는 프로그램을 작성하시오. 예를 들어서(30,40,30)은 (40,30,30)과 같은 경우라고 한다!!!!

In [255]:
count = 0
# 반복문을 돌릴 때...특정 값의 범위를 가지고 돌릴 때 --> for , 돌릴 값들!!!!
# ------> 앞의 값의 영향을 받아서 그 값을 기준으로 돌려야 할 떄!!!!!!
# 특정한 조건을 만족할 떄 까지 돌아라 -> while -> 빠져나갈 조건을...
for a in range(1, 100,1):
    for b in range(a,100,1):
        for c in range(b,100,1):
            if a+b+c == 100:
                count +=1
            else:
                pass
print(count)

833

* Q) 1부터 100까지의 나열 할 때 1~9까지 숫자는 각각 몇 번 나타나는지를 세어 보세요!!!

In [258]:
numstr = ""

for i in range(1, 101, 1):
    numstr = numstr + str(i)
numstr

for j in range(0,10,1):
    print(str(j), ":", numstr.count(str(j)))

0 : 11
1 : 21
2 : 20
3 : 20
4 : 20
5 : 20
6 : 20
7 : 20
8 : 20
9 : 20

* Q) a = [20,55,67,82,45,33,90,87,100,25]점수일 때, 50점 이상인 점수들의 합!!!!!   
방법 1 : for/ range사용,  
방법 2 : for/ 직접 값 사용,  
방법 3 : while사용

In [259]:
a = [20,55,67,82,45,33,90,87,100,25]
a

[20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

In [260]:
#1) for -> 정수인덱스 -> range -> a의 개별 원소에 값을 가져올 수 있음.
tot = 0 # 점수의 합을 담을 변수.
for i in range(0,len(a)):
    if a[i] >=50 :
        tot += a[i]  #tot = tot + a[i]
    else:
        pass
print(tot)

481

In [261]:
tot = 0
for i in a:
    if i >= 50:
        tot +=i
    else:
        pass
print(tot)

481

In [264]:
tot = 0 # 합을 위해서..
cnt = 0 # 돌리는 횟수와 접근하려는 인덱스 -> a의 몇 번째 원소냐, 증가하면서...-> 튕겨

count_a = len(a)
while cnt < count_a:
    if a[cnt] >=50:
        tot += a[cnt]
    else:
        pass
    cnt +=1 
print(tot)

481

In [267]:
sum([ i for i in a if i >=50])

481

* Q) 1부터 100까지 3의 배수들의 합!!!!! for

In [268]:
tot = 0
for i in range(3, 101,3):
    tot += i
print(tot)

1683

* Q)1부터 100까지 3의 배수들의 합!!!!! while

In [269]:
i = 1
tot = 0 
while i <=100:
    if i %3 == 0:
        tot +=i
    else:
        pass
    i+=1
print(tot)

1683

* 야구 게임 : 1S 1B 1O에 대한 것을 만들어 보시오. 다만 처음에 하기 위해서는 random으로 시작을 해야함!!! -> 단, 처음에 지정하는 3개의 숫자는 동일하지 않음!!!3개의 수는 서로 다 다르다!

In [284]:
from random import randint

# 내가 문제낼 숫자 생성...
while True:
    a = randint(1,9)
    b = randint(1,9)
    c = randint(1,9)
    if a!=b and a!=c and b!=c:
        break
print(a,b,c)

# 게임 참여자가 추축을 하게 합니다~~~
while True:
    ball = 0
    strike = 0
    
    # 사용자가 입력할 수들 받는 부분
    q = int(input("첫번째 수를 입력하세요.."))
    w = int(input("두번째 수를 입력하세요.."))
    e = int(input("세번째 수를 입력하세요.."))
    
    # 이제 판별해주면 됨!!!
    if (a==q) and (b==w) and (c ==e):
        print("Good!")
        break
    
    # ball에 대한 부부느
    if (a==w) or (a==e):
        ball +=1
    if (b==q) or (b==e):
        ball +=1
    if (c==q) or (c==w):
        ball +=1
    # strike 부분
    if (a == q):
        strike +=1
    if (b == w):
        strike +=1
    if (c ==e):
        strike +=1
        
#     if a =="Q" or a =="q":
#         break
    print("Ball:", ball, "Strike", strike)

6 2 8
첫번째 수를 입력하세요..6
두번째 수를 입력하세요..8
세번째 수를 입력하세요..2
Ball: 2 Strike 1
첫번째 수를 입력하세요..6
두번째 수를 입력하세요..2
세번째 수를 입력하세요..8
Good!

9 7 8
첫번째 숫자를 입력하세요: 9
두번째 숫자를 입력하세요: 7
세번째 숫자를 입력하세요: 1
Ball: 0 Strike: 2
9 7 8
첫번째 숫자를 입력하세요: 9
두번째 숫자를 입력하세요: 8
세번째 숫자를 입력하세요: 7
Ball: 2 Strike: 1
9 7 8
첫번째 숫자를 입력하세요: 9
두번째 숫자를 입력하세요: 7
세번째 숫자를 입력하세요: 8
Game End

* Q)숫자 up/down으로 1~100까지 수 중에서 알아 맞추기!!! random이용!!!

In [296]:
import random

# 게임을 위한 숫자 생성
rn = random.randrange(1,101,1)
num = 0
print(rn)
t_cnt = 0
print("1~100까지 Up, Down 게임을 시작합니다.")
print("----------------------------------------")
while (rn != num):
    num = int(input("1~100사이의 수를 입력하세요."))
    if ( num > rn):
        print("Down")
    elif (num < rn):
        print("Up")
    t_cnt +=1
print("-------------")
print(t_cnt, "번 만에 맞췄습니다.")

74
1~100까지 Up, Down 게임을 시작합니다.
----------------------------------------
1~100사이의 수를 입력하세요.20
Up
1~100사이의 수를 입력하세요.70
Up
1~100사이의 수를 입력하세요.72
Up
1~100사이의 수를 입력하세요.73
Up
1~100사이의 수를 입력하세요.74
-------------
5 번 만에 맞췄습니다.

* Q) 1부터 입력받은 수까지 "합의 제곱"의 결과와 "제곱의 합"과의 차이를 구하시오!!!    
합의 제곱 : 1^2 + 2^2 + ... + 10^2 = 385   
제곱의 합 : (1+2+3..+10)^2 = 3025

In [299]:
n = int(input("입력하세요."))

sum_1 = 0
sum_2 = 0
for i in range(1, n+1):
    # 일단 숫자들 합
    sum_1 +=i
    # 숫자들의 제곱의 합.
    sum_2 += i**2
    
# 합을 한 것에 대해서 제곱을 다시 
sum_1 **=2
print(max(sum_1, sum_2)-min(sum_1,sum_2))

입력하세요.10
2640

* Q)  핸드폰 번호 뒤에 4자리만 남기고, 앞의 7자리에 대한 것을 *로 지워보세요!!! (함수 만들어서!!!)

In [1]:
# 문자열에 대해서....  -> 함수!!!!!
# 입력 : 전체 전화 번호
# 출력 : 앞의 7자리 지워진 번호.
# 관계 : 입력의 앞의 7자리 지워서 내보내기 -> 뒤의 4자리만..

In [291]:
t = "010-1234-5678"
t[-4:]

"*"*(len(t)-4) + t[-4:]

'*********5678'

In [292]:
def encryfunc(mobile_num):
    # 
    en_num = "*"*(len(mobile_num)-4) + mobile_num[-4:]
    # 
    return en_num

In [293]:
encryfunc("010-1234-5678")

'*********5678'

In [294]:
encryfunc("01012345678")

'*******5678'